{
   "type": "mysql",
   "host": "localhost",
   "port": 3306,
   "username": "enemies",
   "password": "PASSWORD",
   "database": "enemies",
   "synchronize": true,
   "logging": false,
   "entities": [
      "entity/**/*.ts"
   ],
   "migrations": [
      "migration/**/*.ts"
   ],
   "subscribers": [
      "subscriber/**/*.ts"
   ],
   "cli": {
      "entitiesDir": "entity",
      "migrationsDir": "migration",
      "subscribersDir": "subscriber"
   }
}